<main>
  <div class="container">
    <div class="row my-4">
      <div>
        <h4><%= @customer.last_name%>
            <%= @customer.first_name%>
            さんの会員詳細
        </h4>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-lg-3">
        <p>会員ID</p>
      </div>
      <div class="col-lg-3">
        <%= @customer.id %>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-lg-3">
        <p>氏名</p>
      </div>
      <div class="col-lg-2">
        <p><%= @customer.last_name %></p>
      </div>
      <div class="col-lg-2">
        <p><%= @customer.first_name %></p>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-lg-3">
        <p>フリガナ</p>
      </div>
      <div class="col-lg-2">
        <p><%= @customer.last_name_kana %></p>
      </div>
      <div class="col-lg-2">
        <p><%= @customer.first_name_kana %></p>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-lg-3">
        <p>郵便番号</p>
      </div>
      <div class="col-lg-3">
        <%= @customer.postal_code %>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-lg-3">
        <p>住所</p>
      </div>
      <div class="col-lg-6">
        <%= @customer.address %>
      </div>
    </div>

    <div class="row mb-1">
     <div class="col-lg-3">
        <p>電話番号</p>
      </div>
      <div class="col-lg-3">
        <%= @customer.telephone_number %>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-lg-3">
        <p>メールアドレス</p>
      </div>
      <div class="col-lg-3">
        <%= @customer.email %>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-lg-3">
        <p>会員ステータス</p>
      </div>
      <div class="col-lg-3">
        <% if @customer.is_deleted == false %>
          <p class="text-success">有効</p>
        <% else %>
          <P>無効</P>
        <% end %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-3">
        <%= link_to "編集する", edit_admin_customer_path, class:"btn btn-success" %>
      </div>
      <div class="col-lg-3">
        <%= link_to "注文履歴一覧を見る", admin_homes_top_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</main>