<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 my-3">
        <h4>注文履歴一覧</h4>
      </div>
    </div>

    <div class="row jstifuy-content-center">
      <div class="col-lg-9">
        <table width="100%">
          <thead>
            <th class="border-top border-bottom" width="25%">購入日時</th>
            <th class="border-top border-bottom" width="25%">購入者</th>
            <th class="border-top border-bottom" width="50%">注文個数</th>
          </thead>
          <% @order_history.each do |order| %>
          <tbody>
            <tr>
              <td class="border-bottom p-1" width="25%">
                <%= link_to admin_orders_show_path(order.id) do %>
                  <%= order.created_at %>
                <% end %>
              </td>
              <td class="border-bottom p-1" width="25%">
                <%= order.address_name %>
              </td>
              <td class="border-bottom p-1" width="50%">
                <%= order.order_details.quantity.count %>
              </td>
            <tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>

    <div class="row mt-2 jstifuy-content-center">
      <div class="col-lg-4">
        <%= paginate @order_history %>
      </div>
    </div>

  </div>
</main>