<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 my-3 justify-content-center">
        <h4>ショッピングカート</h4>
      </div>
      <div class="col-lg-5 my-3 text-right">
        <%= link_to "カートを空にする", public_cart_items_index_path, class: "btn btn-danger" %>
      </div>
    </div>

    <div class="row">
      <div class="col jstifuy-content-center">
        <table width="100%">
          <thead>
            <th class="border"  width="40%">商品名</th>
            <th class="border"  width="15%">単価(税込)</th>
            <th class="border"  width="15%">数量</th>
            <th class="border"  width="15%">小計</th>
            <th class="border"  width="15%"></th>
          </thead>
          <tbody>
            <% @cart_item.each do |cart_item| %>
              <tr>
                <td class="border"  width="40%">
                  <%= cart_item.item.name %>
                </td>
                <td class="border"  width="15%">
                  <%= cart_item.item.add_tax_price %>
                </td>
                <td class="border"  width="15%">
                  <%= form_with model: @cart_item, url: public_cart_items_update_path, method: :patch do |f|%>
                    <%= f.select :amount, [['1個',1], ['２個',2], ['３個',3], ['４個',4], ['５個',5]] %>
                    <%= f.submit "変更", class: "btn btn-success" %>
                  <% end %>
                </td>
                <td class="border"  width="15%">
                  <%= cart_item.subtotal%>
                </td>
                <td class="border"  width="15%">
                  <!--後で、削除用のリンクを作成-->
                  <%= link_to "削除する", public_cart_items_index_path, class: "btn btn-danger"%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 my-4 jstifuy-content-center">
        <%= link_to "買い物を続ける", public_homes_top_path, class: "btn btn-primary" %>
      </div>
      <div class="col-lg-6 my-4 jstifuy-content-center">
        <table>
          <tr>
            <tb class="border">合計金額</tb>
            <tb class="border"></tb>
          </tr>
        </table>
      </div>
    </div>
  </div>
</main>