<main>
  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-4 text-right">
        <h3>商品一覧</h3>
      </div>
      <div class="col-lg-2 ">
        <p>（全x件）</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <% @items.each do |item| %>
      <div class="col-lg-3 mb-2 d-flex flex-wrap">
        <tr>
          <td>
            <%= link_to public_item_path(item.id) do%>
              <%= image_tag item.image.variant( resize: "150" )  %>
            <% end %>
          </td>
          <td>
            <%= item.name %>
          </td>
          <td>
            <%= item.price %>
          </td>
        </tr>
      </div>
      <% end %>

    </div>

     <div class="row mt-5 justify-content-center">
      <div class="col-lg4">
        <%= paginate @items %>
      </div>
    </div>

  </div>
</main>